.comman-button {
    height: 30px;
    width: 91% !important;
    background-color: #e1dfd7;
    position: relative;
    overflow: hidden;
    color: black;
    /* font-size: 20px; */
    /* margin-left: 15px; */
    transition: color 0.15s;
    z-index: 1;
  }
  
  .comman-button::after {
    content: "";
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
    transition: 0.15s;
    z-index: 0;
  }
  
  .comman-button:hover::after {
    height: 100%;
    z-index: -1;
  }
  
  .comman-button:hover {
    color: white;
    z-index: 1;
  }