.student_profile_reset_password {
  display: flex;
  justify-content: end;
  margin-right: 68px;
}
.student_profile_forfor_redirect {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
